body{
    font-size: 22px;
    line-height: 1.5;
    background: aliceblue;
    color: blue;
}
h1 {
    color: darkblue;
    font-size: 18px;
}

p {
    font-size: 16px;
}

.device_name {
    color: darkblue;
    font-size: 30px;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}
