{% extends 'base_generic_devices.html' %}

{% block content %}
  <h2>Lista Termostatów</h2>
  <a href="{% url 'device_create' 'thermostat'%}">Dodaj nowy termostat</a>
  <ul>
  {% for thermostat in thermostats %}
    <li>
      <a href="{% url 'device_detail' 'thermostat' thermostat.id %}">
        {{ thermostat.device_id.name }} - Status: {{ thermostat.power }} - Temperatura: {{ thermostat.current_temperature }}°C
      </a> |
      <a href="{% url 'device_update' 'thermostat' thermostat.id %}">Edytuj</a> |
      <a href="{% url 'device_delete' 'thermostat' thermostat.id %}">Usuń</a>
    </li>
  {% empty %}
    <p>Brak dostępnych termostatów.</p>
  {% endfor %}
</ul>

		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Powrót do urządzeń</a
		>
	</div>
	{% endblock %}
</body>
