{% extends 'base_generic_devices.html' %}

{% block content %}
  <h2>Thermostat list</h2>
  <a href="{% url 'thermostat_create' %}">Add new thermostat</a>
  <ul>
  {% for thermostat in thermostats %}
    <li>
      <a href="{% url 'thermostat_detail' thermostat.id %}">
        {{ thermostat.device_id.name }} - Power: {{ thermostat.power }} - Temperature: {{ thermostat.current_temperature }}°C
      </a> |
      <a href="{% url 'thermostat_update' thermostat.id %}">Edit</a> |
      <a href="{% url 'thermostat_delete' thermostat.id %}">Delete</a>
    </li>
  {% empty %}
    <p>There are no thermostats.</p>
  {% endfor %}
</ul>

  <a href="{% url 'device_list' %}">Back to devices</a>
{% endblock %}
