{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
		<h2 style="text-align: center">
			{% if form.instance.pk %}Edytuj{% else %}Dodaj{% endif %} Termostat
		</h2>

		<form method="POST">
			{% csrf_token %} {{ form.as_p }}

			<button type="submit" class="btn btn-primary mt-3 d-block mx-auto">
				{% if form.instance.pk %}Zaktualizuj{% else %}Dodaj{% endif %}
			</button>
		</form>

		<a
			href="{% url 'thermostat_list' %}"
			class="btn btn-primary mt-3 d-block mx-auto"
			>Powrót do listy termostatów</a
		>
	</div>

	{% endblock %}
</body>
