{% extends 'base_generic_devices.html' %}

{% block content %}
  <h2>Curtain details: {{ curtain.device_id.name }}</h2>
  <p><strong>Position:</strong> {{ curtain.position }}</p>
  <p><strong>Percent of openness:</strong> {{ curtain.open_percent }}%</p>
  <p><strong>Date of creation:</strong> {{ curtain.created_at }}</p>
  <p><strong>Last update:</strong> {{ curtain.updated_at }}</p>

  <a href="{% url 'curtain_update' curtain.id %}">Edit</a> |
  <a href="{% url 'curtain_delete' curtain.id %}">Delete</a> |
  <a href="{% url 'curtain_list' %}">Back to curtain list</a>
<!--  <a href="{% url 'device_list' %}">Back to devices</a>-->
{% endblock %}
