{% extends 'base_generic_devices.html' %}

{% block content %}
  <h2>Curtain list</h2>
 <a href="{% url 'curtain_create' %}">Add new curtain</a>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
<!--    <button type="submit">Dodaj</button>-->
  </form>

  <ul>
    {% for curtain in curtains %}
      <li>
        <a href="{% url 'curtain_detail' curtain.id %}">
          {{ curtain.device_id.name }} - Position: {{ curtain.position }} - Openness: {{ curtain.open_percent }}%
        </a> |

        <a href="{% url 'curtain_update' curtain.id %}">Edit</a> |
        <a href="{% url 'curtain_delete' curtain.id %}">Delete</a>
      </li>
    {% empty %}
      <p>There are no curtains.</p>
    {% endfor %}
  </ul>


  <a href="{% url 'device_list' %}">Back to devices</a>
{% endblock %}
