{% extends 'base_generic_devices.html' %} {% block content %}

<body id="page-top" class="fixed-nav-page">
	<div class="container text-center">
		<h2>Curtain List</h2>
		<a href="{% url 'device_create' 'curtain'%}" class="btn btn-primary mb-3"
			>Add New Curtain</a
		>
		<ul class="list-unstyled">
			{% for curtain in curtains %}
			<li>
				<a href="{% url 'device_detail' 'curtain' curtain.id %}">
					Name: {{ curtain.name }} - Model: {{ curtain.model }} - Brand:
					<!--  -->
					{{ curtain.brand}} - Location: {{ curtain.location}} - Position:
					<!--  -->
					{{ curtain.position }} - Open Percentage:
					<!--  -->
					{{ curtain.open_percent }}
				</a>
				|

				<a href="{% url 'device_update' 'curtain' curtain.id %}">Edit</a> |
				<a href="{% url 'device_delete' 'curtain' curtain.id %}">Delete</a>
			</li>
			{% empty %}
			<p>No available curtains.</p>
			{% endfor %}
		</ul>

		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Back to Devices</a
		>
	</div>
	{% endblock %}
</body>
