{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container">
		<h2 class="text-center">Weather Station List</h2>

		<div class="text-center">
			<a
				href="{% url 'device_create' 'weatherstation' %}"
				class="btn btn-primary mb-3">
				Add New Weather Station
			</a>
		</div>

		<ul class="list-group">
			{% for station in stations %}
			<li
				class="list-group-item d-flex justify-content-between align-items-center">
				<a
					href="{% url 'device_detail' 'weatherstation' station.id %}"
					class="text-decoration-none text-dark">
					<strong>Name:</strong> {{ station.name }} |
					<!--  -->
					<strong>Model:</strong> {{ station.model }} |
					<!--  -->
					<strong>Brand:</strong> {{ station.brand }} |
					<!--  -->
					<strong>Location:</strong> {{ station.location }} |
					<!--  -->
					<strong>Temperature:</strong> {{ station.temperature_c }} °C
				</a>

				<div class="d-flex justify-content-center gap-2 mt-2">
					<a
						href="{% url 'device_update' 'weatherstation' station.id %}"
						class="btn btn-light btn-sm text-black">
						Edit
					</a>
					<a
						href="{% url 'device_delete' 'weatherstation' station.id %}"
						class="btn btn-danger btn-sm text-black">
						Delete
					</a>
				</div>
			</li>
			{% empty %}
			<li class="list-group-item text-center">No available weather stations</li>
			{% endfor %}
		</ul>

		<div class="text-center mt-3">
			<a href="{% url 'device_list' %}" class="btn btn-primary">
				Back to Devices
			</a>
		</div>
	</div>
	{% endblock %}
</body>
