{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-center">
		<h2>Weather Station List</h2>

		<a
			href="{% url 'device_create' 'weatherstation'%}"
			class="btn btn-primary mb-3"
			>Add New Weather Station</a
		>
		<ul class="list-unstyled">
			{% for station in stations %}
			<li>
				<a href="{% url 'device_detail' 'weatherstation' station.id %}">
					Name: {{ station.name }} - Model: {{ station.model }} - Brand:
					<!--  -->
					{{ station.brand }} - Location: {{ station.location }} - Temperature:
					{{ station.temperature_c }} °C
				</a>
				|
				<a href="{% url 'device_update' 'weatherstation' station.id %}">Edit</a>
				|
				<a href="{% url 'device_delete' 'weatherstation' station.id %}"
					>Delete</a
				>
			</li>
			{% empty %}
			<p>No available weather stations.</p>
			{% endfor %}
		</ul>
		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Back to Devices</a
		>
		{% endblock %}
	</div>
</body>
