{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-center">
		<h2>Lista stacji pogodowych</h2>

		<a
			href="{% url 'device_create' 'weatherstation'%}"
			class="btn btn-primary mb-3"
			>Dodaj nową stację pogodową</a
		>
		<ul class="list-unstyled" s>
			{% for station in stations %}
			<li>
				<a href="{% url 'device_detail' 'weatherstation' station.id %}">
					Name: {{ station.name }} - Model: {{ station.model }} - Brand:
					<!--  -->
					{{ station.brand}} - Location: {{ station.location}} - Temperatura:
					{{station.temperature_c}} C
				</a>
				|
				<a href="{% url 'device_update' 'weatherstation' station.id %}"
					>Edytuj</a
				>
				|
				<a href="{% url 'device_delete' 'weatherstation' station.id %}">Usuń</a>
			</li>
			{% empty %}
			<p>Brak dostępnych stacji pogodowych.</p>
			{% endfor %}
		</ul>
		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Powrót do urządzeń</a
		>
		{% endblock %}
	</div>
</body>
