{% extends 'base_dashboard.html' %}

{% block content %}

<!-- Devices Grid-->
        <section class="page-section bg-light" id="devices">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Manage your devices</h2>
                    <h3 class="section-subheading text-muted">Choose a device type to check all available devices, manage them or delete.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- devices item 1-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'bulb_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/bulb.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Bulbs</h4>
{#                                <div class="devices-caption-subheading text-muted">Illustration</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- devices item 2-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'plug_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/plug.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Plugs</h4>
{#                                <div class="devices-caption-subheading text-muted">Graphic Design</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- devices item 3-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'curtain_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/curtain.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Curtains</h4>
{#                                <div class="devices-caption-subheading text-muted">Identity</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- devices item 4-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'lawnmower_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/lawnmower.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Lawn mowers</h4>
{#                                <div class="devices-caption-subheading text-muted">Branding</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- devices item 5-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'thermostat_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/thermostat.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Thermostats</h4>
{#                                <div class="devices-caption-subheading text-muted">Website Design</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- devices item 6-->
                        <div class="devices-item">
                            <a class="devices-link" href="{% url 'weatherstation_list' %}">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/weatherstation.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Weather stations</h4>
{#                                <div class="devices-caption-subheading text-muted">Photography</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
<!-- Rooms -->

        <section class="page-section bg-light" id="devices">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Manage your devices by room</h2>
                    <h3 class="section-subheading text-muted">Choose room to manage devices there.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- room item 1-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/bulbs/bulb_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/living_room.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Living Room</h4>
{#                                <div class="devices-caption-subheading text-muted">Illustration</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- room item 2-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/plugs/plug_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/kitchen.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Kitchen</h4>
{#                                <div class="devices-caption-subheading text-muted">Graphic Design</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- room item 3-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/curtains/curtain_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/hallway.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Hallway</h4>
{#                                <div class="devices-caption-subheading text-muted">Identity</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- room item 4-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/lawn_mowers/lawnmower_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/bedroom.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Bedroom</h4>
{#                                <div class="devices-caption-subheading text-muted">Branding</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- room item 5-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/weather_stations/weatherstation_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/bathroom.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Bathroom</h4>
{#                                <div class="devices-caption-subheading text-muted">Photography</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- room item 6-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/thermostats/thermostat_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/garden.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Garden</h4>
{#                                <div class="devices-caption-subheading text-muted">Website Design</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- room item 7-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/weather_stations/weatherstation_list.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/backyard.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Backyard</h4>
{#                                <div class="devices-caption-subheading text-muted">Photography</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- Options -->

    <section class="page-section bg-light" id="devices">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Manage application</h2>
                    <h3 class="section-subheading text-muted">Add or accept a device. Find out more how to manage your devices.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- option 1-->
                        <div class="devices-item">
                            <a class="devices-link" href="...">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/add.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Add device</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- option 2-->
                        <div class="devices-item">
                            <a class="devices-link" href="../../templates/device_accept.html">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/accept.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Accept other user's device</h4>
{#                                <div class="devices-caption-subheading text-muted">Graphic Design</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- option 3-->
                        <div class="devices-item">
                            <a class="devices-link" href="../static/images/instruction.webp">
                                <div class="devices-hover">
                                    <div class="devices-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/instruction.webp" alt="..." />
                            </a>
                            <div class="devices-caption">
                            <h4 class="my-3">Instruction</h4>
{#                                <div class="devices-caption-subheading text-muted">Identity</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}




