{% extends "base_dashboard.html" %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
		<h2 style="text-align: center">
			Are you sure you want to delete your account?
		</h2>
		<p style="text-align: center">This action cannot be undone.</p>

		<form method="post">
			{% csrf_token %}
			<div class="text-center">
				<button type="submit" class="btn btn-primary mt-3 d-block mx-auto">
					Delete Account
				</button>
			</div>
			<div class="text-center mt-7 py-4">
				<button
					type="button"
					class="btn btn-primary mt-3 d-block mx-auto"
					onclick="window.location.href='{% url 'home' %}'">
					Cancel
				</button>
			</div>
		</form>
	</div>
	{% endblock %}
</body>
