{% extends 'base_dashboard.html' %} {% block content %}

<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
		<h2 style="text-align: center">Register</h2>
		<form method="post">
			{% csrf_token %} {{ form.as_p }}
			<div class="text-center">
				<button type="submit" class="btn btn-primary mt-3">Register</button>
			</div>
		</form>

		<div class="text-center mt-7 py-4">
			<p class="mb-2">Already have an account?</p>
			<a href="{% url 'login' %}" class="btn btn-primary mt-3"> Login </a>
		</div>
	</div>
	{% endblock %}
</body>
