{% extends 'base_dashboard.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
		<h2 style="text-align: center">Password Reset Complete</h2>
		<p style="text-align: center">
			An email with a link to reset your password has been sent to your inbox.
			Please check your email and follow the instructions to set a new password.
		</p>
		<div class="text-center">
			<a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">
				Save Changes
			</a>
		</div>
	</div>
	{% endblock %}
</body>
