{% extends 'base_generic_devices.html' %}

{% block content %}

    <h1>Dashboard</h1>

    <h2>Ustawienia użytkownika</h2>
        <p1><a href="/logout/">Wyloguj się</a> </p1>
        <p1><a href="/change_password/">Zmień hasło</a> </p1>

    <h2>Ustawienia urządzeń</h2>
        <p1><a href="{% url 'devices:device_list' %}">Lista urządzeń, którymi zarządzasz</a> </p1>

            <p2>Żarówki</p2>
                <p3><a href="{% url 'devices:bulb_list' %}">Lista żarówek</a></p3>
                <p3><a href="/bulb_manager/">Zarządzaj żarówkami</a> </p3>

            <p2>Zasłony</p2>
                <p3><a href="{% url 'devices:curtain_list' %}">Lista zasłon</a> </p3>
                <p3><a href="/curtain_manager/">Zarządzaj zasłonami</a> </p3>

            <p2>Kosiarki</p2>
                <p3><a href="{% url 'devices:lawnmower_list' %}">Lista kosiarek</a> </p3>
                <p3><a href="/lawnmower_manager/">Zarządzaj kosiarkami</a> </p3>

            <p2>Wtyczki</p2>
                <p3><a href="{% url 'devices:plug_list' %}">Lista wtyczek</a> </p3>
                <p3><a href="/plug_manager/">Zarządzaj wtyczkami</a> </p3>

            <p2>Termostaty</p2>
                <p3><a href="{% url 'thermostat_list' %}">Lista termostatów</a> </p3>
                <p3><a href="/thermostat_manager/">Zarządzaj termostatmi</a> </p3>

            <p2>Stacje pogodowe</p2>
                <p3><a href="{% url 'weatherstation_list' %}">Lista stacji pogodowych</a> </p3>
                <p3><a href="/weatherstation_manager/">Zarządzaj stacjami pogodowymi</a> </p3>

{% endblock %}
