{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
		<!-- <h2>{{ device_type }}</h2> -->
		<h2>
			{% if device_type == "bulb" %} Bulb
			<!--  -->
			{% elif device_type == "plug" %} Plug
			<!--  -->
			{% elif device_type == "thermostat" %} Thermostat
			<!--  -->
			{% elif device_type == "curtain" %} Curtain
			<!--  -->
			{% elif device_type == "weatherstation" %} Weather Station
			<!--  -->
			{% elif device_type == "lawnmower" %} Lawn Mower
			<!--  -->
			{% else %} Device {% endif %}
		</h2>

		<h3>Basic Information:</h3>
		<ul>
			{% for field, value in device_fields.items %}
			<li><strong>{{ field|title }}:</strong> {{ value }}</li>
			{% endfor %}
		</ul>

		<a href="{% url 'device_update' device_type device.id %}">Edit</a> |
		<a href="{% url 'device_delete' device_type device.id %}">Delete</a> |
		<a href="{% url 'device_list' %}">Back to device list</a>
	</div>

	{% endblock %}
</body>
