{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-left">
	<h2 style="text-align: center" class="margin_top">Device working schedules</h2>
    <div class="schedule-list">
      {% for schedule in schedules %}
        <p>{{ schedule.device.name }}:
			{{ schedule.formatted_start_time }} - {{ schedule.formatted_end_time }}
			(Duration: {{ schedule.get_formatted_duration }})
		</p>
		<form method="POST">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
      {% empty %}
        <p>No schedules set yet.</p>
        <a
                href="{% url 'device_list' %}"
				class="btn btn-primary mt-3 d-block mx-auto"
				>Back to Devices</a>
        {% endfor %}
    </div>

	</div>
</body>
		{% endblock %}
