{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-center">
		<h2>Lista kosiarek</h2>

		<a href="{% url 'lawn_mower_create' %}" class="btn btn-primary mb-3"
			>Dodaj nową kosiarkę</a
		>
		<ul class="list-unstyled">
			{% for status in statusy %}
			<li>
				<a href="{% url 'lawn_mower_detail' status.id %}">
					{{ status.device_id.name }} - Bateria: {{ status.battery_percent }}%,
					Tryb cięcia: {{ status.cutting_mode }}, Wysokość cięcia: {{
					status.cutting_height_mm }} mm
				</a>
				| <a href="{% url 'lawn_mower_update' status.id %}">Edytuj</a> |
				<a href="{% url 'lawn_mower_delete' status.id %}">Usuń</a>
			</li>
			{% empty %}
			<p>Brak statusów kosiarek.</p>
			{% endfor %}
		</ul>
		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Powrót do urządzeń</a
		>
	</div>

	{% endblock %}
</body>
