{% extends 'base_generic_devices.html' %} {% block content %}
<body id="page-top" class="fixed-nav-page">
	<div class="container text-center">
		<h2>Bulb List</h2>
		<a href="{% url 'device_create' 'bulb'%}" class="btn btn-primary mb-3"
			>Add New Bulb</a
		>
		<ul class="list-unstyled" class="container text-left">
			{% for bulb in bulbs %}
			<li class="container text-left">
				<a href="{% url 'device_detail' 'bulb' bulb.id %}">
					Name: {{ bulb.name }} - Model: {{ bulb.model }} - Brand:
					<!--  -->
					{{ bulb.brand}} - Location: {{ bulb.location}}
				</a>
				| <a href="{% url 'device_update' 'bulb' bulb.id %}">Edit</a> |
				<a href="{% url 'device_delete' 'bulb' bulb.id %}">Delete</a>
				<!--        <a href="{% url 'device_list' %}">Back</a>-->
			</li>
			{% empty %}
			<p>No available bulbs</p>

			{% endfor %}
		</ul>
		<a href="{% url 'device_list' %}" class="btn btn-primary mb-3"
			>Back to Devices</a
		>
	</div>
	{% endblock %}
</body>
