<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <p1>User settings</p1>
        <p2>Log out <a href="/logout/"></a> </p2>
        <p2>Change password <a href="/change_password/"></a> </p2>


    <p1>Device settings</p1>
        <p2><a href="{% url 'devices:device_list' %}">List of devices </a> </p2>
        <p2><a href="{% url 'devices:device_form' %}">Add device </a></p2>
        <p2><a href="{% url 'devices:device_confirm_delete' %}">Delete device</a></p2>

</body>
</html>